/* ~/.config/waybar/style.css */
/* layout: waybar1 */

* {
  font-family: "Hack Nerd Font", monospace;
  font-weight: bold;
  font-size: 12px;
  color: #dcdfe1;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#workspaces {
  background-color: rgba(15, 27, 53, 0.9);
  padding: 4px 6px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px;
  border-width: 0px;
}

#clock,
#custom-power {
  background-color: rgba(15, 27, 53, 0.9);
  margin-top: 6px;
  margin-right: 6px;
  padding: 4px 2px;
  border-radius: 0 10px 10px 0;
  border-width: 0px;
}

#network,
#custom-lock {
  background-color: rgba(15, 27, 53, 0.9);
  margin-top: 6px;
  margin-left: 6px;
  padding: 4px 2px;
  border-radius: 10px 0 0 10px;
  border-width: 0px;
}

#custom-reboot,
#pulseaudio,
#backlight,
#memory,
#cpu {
  background-color: rgba(15, 27, 53, 0.9);
  margin-top: 6px;
  padding: 4px 2px;
  border-width: 0px;
}

#pulseaudio.muted {
  color: #ff0000;
  padding-top: 0;
}

#network:hover,
#backlight:hover,
#pulseaudio:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover {
  background-color: rgba(70, 75, 90, 0.9);
}

#workspaces button:hover {
  background-color: rgba(97, 175, 239, 0.2);
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: #61afef;
  color: #ffffff;
  padding: 4px 8px;
  margin: 0 2px;
  border-radius: 25px;
}

#workspaces button {
  background: transparent;
  border: none;
  color: #888888;
  padding: 2px 8px;
  margin: 0 2px;
  font-weight: bold;
}
