/* ~/.config/waybar/style.css */
/* layout: waybar2 */

* {
  font-family: "Hack Nerd Font", monospace;
  font-weight: bold;
  font-size: 11px;
  /* color: #dcdfe1; */
}

#waybar {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  box-shadow: none;
}

#workspaces {
  /* background-color: rgba(15, 27, 53, 0.9); */
  padding: 2px 4px;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 8px;
  border-width: 0px;
}

#clock,
#custom-power {
  /* background-color: rgba(15, 27, 53, 0.9); */
  margin-top: 2px;
  margin-right: 4px;
  padding: 2px 4px;
  border-radius: 0 8px 8px 0;
  border-width: 0px;
}

#network,
#custom-lock {
  /* background-color: rgba(15, 27, 53, 0.9); */
  margin-top: 2px;
  margin-left: 4px;
  padding: 2px 4px;
  border-radius: 8px 0 0 8px;
  border-width: 0px;
}

#custom-reboot,
#pulseaudio,
#backlight,
#memory,
#cpu {
  /* background-color: rgba(15, 27, 53, 0.9); */
  margin-top: 2px;
  padding: 2px 4px;
  border-width: 0px;
}

#pulseaudio.muted {
  color: #ff0000;
  padding-top: 0;
}

#network:hover,
#backlight:hover,
#pulseaudio:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover {
  background-color: rgba(70, 75, 90, 0.3);
}

#workspaces button:hover {
  background-color: rgba(97, 175, 239, 0.2);
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 1px;
}

#workspaces button.active {
  background-color: #61afef;
  color: #000000;
  padding: 2px 6px;
  margin: 0 2px;
  border-radius: 1px;
}

#workspaces button {
  background: transparent;
  border: none;
  color: #aaaaaa;
  padding: 1px 6px;
  margin: 0 2px;
  font-weight: bold;
}
